doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Login
    link(rel='stylesheet', type='text/css', href='/css/myNewStyle.css')
    include theNav.pug
  body
    header
      h1 Log in?
      #LoginWindow
        form(name='myForm', action='/login', method='POST')
          label(for='user') Username:
          input#username(type='text', placeholder='username', name='username', required='')
          br
          label(for='word') Password:
          input#password(type='password', placeholder='password', name='password', required='')
          br
          button(type='submit', value='Submit') Login